# maven:3.6-openjdk-11-slim
# adoptopenjdk/openjdk11:jdk-11.0.11_9-alpine
###########################################################
export MAVEN_M2_IMAGE_ARM32=arm32v7/allin-web:alpine-m2
export MAVEN_M2_IMAGE_AMD64=zelejs/allin-web:alpine-m2
export MAVEN_IMAGE_ARM32=arm32v7/maven:3.6-adoptopenjdk-11
export MAVEN_IMAGE_AMD64=maven:3.6-openjdk-11-slim
###########################################################
# export DUMMY_RUNNER=dummy
# export DUMMY_HOST=localhost
# export DUMMY_PORT=2375
export DUMMY_CONTAINER=app-api
# export APP_URL_SHORT=localhost:3306/app_db
# export APP_USERNAME=root
# export APP_PASSWORD=root
